.pane {
    -fx-background-color: #0d1b2a;
}

.vboxMenu {
    -fx-background-color: #1b263b;
}

.mainLabel {
    -fx-font-size: 25;
}

.subLabels {
    -fx-font-size: 15;
}

.button {
    -fx-font-size: 16;
    -fx-padding: 10 30 10 30;
    -fx-background-color: #1b263b;
    -fx-border-radius: 10 30 10 30;
}

.button:hover {
    -fx-background-color: #24334F;
}

.button:focused {
    -fx-background-color: #24334F;
}

.comboBoxMoeda .text, .comboBoxMoeda {
    -fx-background-radius: 9;
    -fx-font-size: 16;
    -fx-background-color: #1b263b;
    -fx-fill: #ffffff;
}

.comboBoxMoeda .list-view .list-cell {
    -fx-background-color: #1b263b;
    -fx-color: #ffffff;
}

.comboBoxMoeda .list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.comboBoxMoeda .list-view .list-cell:hover {
    -fx-background-color: #24334F;
}

.comboBoxMoeda:hover {
    -fx-background-color: #24334F;
}

.comboBoxMoeda .arrow, .comboBoxMoeda .arrow-button {
    -fx-background-color: transparent;
}

.conversionTextField {
    -fx-background-radius: 9;
    -fx-font-size: 16;
    -fx-background-color: #1b263b;
    -fx-text-fill: #ffffff;
}

.conversionTextField:hover {
    -fx-background-color: #24334F;
}

.conversionTextField:focused {
    -fx-background-color: #24334F;
}

#converterBtn {
    padding: 0 0 0 0;
    -fx-background-radius: 9;
}

.conversionLbl {
    -fx-background-color: #1b263b;
    -fx-background-radius: 9;
}